/*Estilos Generales*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(img/reloj.jpg), no-repeat center center/ cover;
}

/*Contenedores*/
.contenedor-inicial {
  width: 80vw;
  max-width: 650px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: #7c7c7e;
}

.contenedor-btn {
  padding: 20px;
}

/* Cronometro */
#cronometro {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;
  user-select: none;
  font-weight: bold;
}

/*Botones*/
.btn {
  margin: 10px;
  padding: 10px;
  width: 80px;
  height: 80px;
  font-size: 50px;
  cursor: pointer;
}

#btn-inicio-pausa.contenedor-inicial,
#btn-inicio-pausa.iniciar {
  background-color: #0df099;
}

#btn-inicio-pausa.contenedor-pausar,
#btn-inicio-pausa.pausar {
  background-color: #0b9cdf;
}

#btn-reinicio {
  background-color: #751212;
}